.input:focus {
}

.input {
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.superInput {
}

.errorInput {
  outline: none;
  border: 1px solid #cc1439;
}

.errorInput:focus {
}

.error {
  color: #cc1439;
}
