.tech {
  width: 20vw;
  position: relative;
}

.developer {
}

.techHeader {
  width: 20vw;
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
}

.developerHeader {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
}

.row {
  width: 30vw;
  display: flex;
  padding: 10px 0 10px 17px;
  border-bottom: 1px solid #e5e5e5;
}

.rowHeader {
  display: flex;
  background-color: #e5e5e5;
  width: 30vw;
  padding: 10px 0 10px 17px;
}

.loading {
  position: absolute;
  background-color: white;
  opacity: 0.5;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center;
}
