.buttonsContainer {
  display: flex;
  gap: 24px;
}

.buttonsContainer > button {
  min-width: 116px;
  height: 30px;
  border-radius: 3px;
  padding-top: 5px;
  padding-right: 24px;
  padding-bottom: 5px;
  padding-left: 24px;
}
.buttonsContainer:last-child {
  background-color: white;
}

.editableSpanContainer {
}
