.item {
  border-bottom: 1px solid #e5e5e5;
}

.item:last-of-type {
}

.users {
  margin-top: 18px;
  border-collapse: collapse;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.container {
  font-family: Roboto;
  color: black;
  font-size: 14px;
  line-height: 100%;
  font-weight: 300;
}

.thead {
  background-color: #e5e5e5;
  font-weight: 600;
}

tr {
}

.nameCol {
  width: 50%;
  padding: 15px 0 16px 17px;
}

.ageCol {
  width: 50%;
}
