.App {
  --header_height: 60px;
}

.hw {
  padding: 24px 70px 32px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.hwTitle {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 70px;
}
