.burgerMenuIcon {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 70px 14px;
  margin-bottom: 47px;
  box-shadow: 0px 0px 2px 0px #1d21261a;
  box-shadow: 0px 0px 40px 0px #1d212621;
}

.header h1 {
}
