.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 36px;
}

.text1 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
}

.text2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
}
